body {
  margin: 0;
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: cornflowerblue;
  text-align: center;
}
input[type] {
  width: 20%;
  padding: 15px;
  margin: 5px;
  /* display: inline-block; */
  border: none;
  border-radius: 3%;
  margin-left: 2%;
  font-size: 15px;
  color: cornflowerblue;
}
.signIn {
  background-color: cornflowerblue;
  color: white;
  padding: 16px 20px;
  margin-left: 2%;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  opacity: 0.9;
  font-size: medium;
}
.cancel {
  background-color: rgb(233, 168, 168);
  color: white;
  padding: 16px 20px;
  margin-left: 1%;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  opacity: 0.9;
  font-size: medium;
}
.login {
  background-color: cornflowerblue;
  color: white;
  padding: 16px 20px;
  margin-left: 10%;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  opacity: 0.9;
  font-size: medium;
}
.loginForm {
  align-items: center;
  margin-top: 1%;
  margin-left: 35%;
  padding: 15px;
  width: 70%;
}
h2 {
  margin-left: 39%;
  margin-top: 1%;
  color: cornflowerblue;
}
.deletebtn {
  background-color: rgb(233, 168, 168);
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  opacity: 0.9;
  font-size: medium;
  margin-left: 2%;
}
.editbtn {
  background-color: rgb(63, 143, 110);
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  opacity: 0.9;
  font-size: medium;
  margin-left: 2%;
}

p {
  margin-left: 2%;
}
.nav-div {
  justify-content: space-around;
  display: flex;
  padding: 2px;
  margin: 2px;
  margin-left: 70%;
}
td {
  text-align: center;
}
